<p>Hey {{ name }},</p>
<p>Here is your 6-digit code</p>
<p>Please past it in the application to verify your email.</p>
<p>
    <a>code : {{ code }}</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
